<%= content_tag :div, :class => :nested_fields, :style => ('display:none' if f.object._destroy) do %>
  <a href="#" class="remove_nested_fields">Remove</a>

  <div class="nested_fields_inputs">
    <%= render :partial => nested_partial,
               :object => f.object,
               :as => f.object.class.name.underscore.to_sym,
               :locals => {:f => f} %>
    <%= f.hidden_field :_destroy, :class => :nested_fields_destroy %>
  </div>
<% end %>
